.git/
.github/
log/
migrations/
scripts/
target/
tests/

.dockerignore
.env
.env.example
.env.prod
.gitignore
.pre-commit-config.yaml
docker-compose.override.yml
docker-compose.override.yml.example
docker-compose.yml
Dockerfile
README.md
