{% extends "base.html" %}

{% block title %} ChainChat {% endblock title %}

{% block style %}

{{ super() }}

.content {
  font-size: 64px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  flex-grow: 1;
}

.buttons {
  position: absolute;
  text-align: right;
  top: 20px;
  right: 10px;
}

{% endblock style %}

{% block body %}
  <div class="buttons">
    {% if is_user is defined %}
    <a class="button" href="/user/info">Account</a>
    {% else %}
    <a class="button" href="/auth/login">Log in</a>
    <a class="button" href="/auth/register">Sign up</a>
    {% endif %}
  </div>

   <!-- Flash message box -->
  {% if flash_message is defined %}
  <div id="flash-message" class="flash-message">
    {{ flash_message }}
  </div>
  {% endif %}

  <div class="content">
     <b>Chain chat</b>
  </div>
{% endblock body %}
