{% extends "base.html" %}

{% block style %}

{{ super() }}

.content {
  font-size: 64px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  flex-grow: 1;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

{% endblock style %}

{% block body %}

  <!-- Flash message box -->
  {% if flash_message is defined %}
  <div id="flash-message" class="flash-message">
    {{ flash_message }}
  </div>
  {% endif %}

  <div class="content">
    <div class="login-container">
      <form action="/auth/login" method="post">
          <input
            type="text"
            placeholder="Username"
            name="username"
          >
          <input
            type="password"
            placeholder="Password"
            name="password"
        </label>
        <button type="submit">Log in</button>
      </form>
    </div>
  </div>
{% endblock body %}
