{% extends "base.html" %}

{% block title %} ChainChat - User {% endblock title %}

{% block style %}

{{ super() }}

.content {
  position:absolute;
  text-align: left;
  top: 20px;
  left: 40px;
}

.buttons {
  position: absolute;
  text-align: right;
  top: 20px;
  right: 10px;
}

{% endblock style %}

{% block body %}
  <div class="buttons">
    <form name="logoutForm" action="/user/logout" method="post">
      <button type="submit">Log out</button>
    </form>
  </div>

  <!-- Flash message box -->
  {% if flash_message is defined %}
  <div id="flash-message" class="flash-message">
    {{ flash_message }}
  </div>
  {% endif %}

  <div class="content">
    <h1>Welcome {{ username }}!</h1>
    <p>Available actions:</p>
    <a href="/user/password" class="button">Change password</a>
  </div>
{% endblock body %}
