{% extends "base.html" %}

{% block style %}

{{ super() }}

.content {
  font-size: 64px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  flex-grow: 1;
}

.password-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

{% endblock style %}

{% block body %}

 <!-- Flash message box -->
  {% if flash_message is defined %}
  <div id="flash-message" class="flash-message">
    {{ flash_message }}
  </div>
  {% endif %}

  <div class="content">
    <div class="password-container">
      <form action="/user/password" method="post">
        <input
          type="password"
          placeholder="Current Password"
          name="old_password"
          required
          >
        <br>
        <input
          type="password"
          placeholder="New Password"
          name="new_password"
          required
          >
        <br>
        <input
          type="password"
          placeholder="Confirm New Password"
          name="confirm_new_password"
          required
          >
        <br>
        <button type="submit">Update</button>
    </div>
  </div>
{% endblock body %}
